.refresh-example-head {
  margin-top: 40px;
}

.refresh-example {
  width: 400px;
  height: 400px;

  &__content {
    background: url('./shin-chan.jpg') top left no-repeat;
    width: 800px;
    height: 480px;
  }

  &__msg {
    display: inline-block;
    margin: 0 5px 5px 0;
  }
  
  &__btn {
    margin: 10px 5px 20px 0;
  }
}
